<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<%- include('../views/partials/header.ejs') %>

<div class="sub_body">
    <div id="sightings_card" class="row">

        <% sightings.sort((a, b) => b.dateTimeSeen - a.dateTimeSeen).forEach(function(sighting) { %>
        <div class="sighting" onclick="window.location.href='/sighting/<%= sighting._id %>'">

            <div class="column">
                <a href="/sighting/<%= sighting._id %>">
                    <div class="single_card">
                        <div class="sighting_image">
                            <img src="<%= sighting.img %>" alt="sighting image" style="height: 100%;">
                        </div>
                        <div class="sighting_info">
                            <p>Date and Time: <%= sighting.dateTimeSeen.toLocaleString() %></p>
                            <p>Identification: <%= sighting.identification %></p>
                            <p>Nickname: <%= sighting.nickname %></p>
                        </div>
                    </div>
                </a>
            </div>
            <% }); %>
        </div>

    </div>
</div>

</body>
</html>
